@model BBRG.ViewModels.AssessmentViewModel

@{
    ViewBag.Title = "NewAssessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm("Save", "Assessments", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <legend>Test</legend>

    @Html.Partial("~/Views/SavingPlans/NewSavingPlan.cshtml", Model.SavingPlanViewwModel)

    @Html.Partial("~/Views/Portfolios/NewPortfolio.cshtml", Model.PortfolioViewModel)


    <div>
    @Html.HiddenFor(m => m.Id)
    <button data-assess-id="@User.Identity" type="submit" calss="btn btn-default js-toggle-save">Save</button>

    </div>

}

@*@Scripts.Render("~/bundles/bootstrap.js")
    @Scripts.Render("~/bundles/jquery.js")*@


@*@section Scripts {
    <script src="~/Scripts/SavingPlanScripts.js"></script>
    <script src="~/Scripts/PortfolioScripts.js"></script>

   
}*@