
@model BBRG.ViewModels.PortfolioViewModel
@{
    ViewBag.Title = Model.Heading;

}

<h2>@Model.Heading</h2>
@using (Html.BeginForm("Save", "Portfolios", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)


    // Saving Plan
    <div style="margin-top:30px" class="card text-center">

        <div class="card-header" style="text-align: left">
            <h4 style="text-align: left; margin-top:10px" class="card-title">Portfolio</h4>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Advanced</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Import</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="card" style="width:auto;border:1px solid#e3e3e3 ">
        <div class="card-body">



            <table id="SecTypeTable" class="table table-striped">
                <thead>
                    <tr>
                        <td>Securities Type</td>
                        <td> <button id="add" type="button" class="btn btn-link">Add</button></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr id="SecTypeRow">
                        <td class="form-group">
                            @Html.DropDownListFor(m => m.SecurityTypeList, new SelectList(Model.SecTypeLookUp, "Id", "SecTypeName"), "Select Sec Type", new { @class = "form-control SecType", id = "SecType_1",  name = "SecType_1", selected = "false" })
                        </td>
                        <td>
                            <button data-secType-id="@Model.SecTypeId" id="deleteSecType" type="button" class="btn btnDeleteSecType btn-link btn-xs btn" btn-xs>remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>


            @Html.HiddenFor(m => m.Id)
            <button data-assess-id="@User.Identity"   type="submit" calss="btn btn-default js-toggle-save">Save</button>

        </div>
    </div>
}

@section scripts
    {
    <script>

      

       $(document).on("click", ".btnDeleteSecType", function () {
            var tableLength = $("table tr").length;
            if (tableLength != 2) {
                $(this).closest("tr").remove()
            }
        });

        $(document).ready(function () {
            var counter = 2;
            $(function () {

                $('#add').click(function () {
                    $('<tr id="SecTypeRow_' + counter + '">'
                        + '<td class="form-group">'
                        + '<select type="text" asp-for="SecurityTypeList" name="SecType_'+counter+'" id="Region_' + counter + '" class="form-control Region" " >'
                        + $(".SecType").html()
                        + '</select>'
                        + '</td>'
                        + '<td>'
                        + '<button data-secType-id= id="deleteSecType" type="button" class="btn btnDeleteSecType btn-link btn-xs btn" btn-xs>remove</button>'
                        + '</td>'
                        + '</tr>').appendTo('#SecTypeTable');
                    counter++;
                    return false;
                });
            });
        });

    </script>

}

      